<h3>Create an Account</h3>
<form [formGroup]="authForm" class="ui form" (ngSubmit)="onSubmit()">
  <app-input [control]="username">Username</app-input>
  <app-input [control]="password" type="password">Password</app-input>
  <app-input [control]="passwordConfirmation" type="password">Password Confirmation</app-input>
  <div class="ui red basic label"
       *ngIf="password?.touched && passwordConfirmation?.touched && authForm.errors">
    <p *ngIf="authForm.errors?.['passwordDontMatch']">
      Passwords dont match
    </p>
  </div>
  <div>
    <button type="submit" class="ui submit button primary" [disabled]="authForm.invalid">Submit</button>
  </div>
</form>

