<h3>Create an Account</h3>
<form [formGroup]="authForm" class="ui form">
<!--  <div class="field" >-->
<!--    <label>Username</label>-->
<!--    <input formControlName="username" >-->
<!--  </div>-->
  <app-input [control]="username" >Username</app-input>
  <div class="field">
    <label>Password</label>
    <input formControlName="password">
  </div>
  <div class="field">
    <label>Password Confirmation</label>
    <input formControlName="passwordConfirmation">
  </div>

  <button type="submit" class="ui submit button primary" [disabled]="authForm.invalid" >Submit</button>
<!--  <p>{{ authForm.errors | json }}</p>-->
</form>

